body{
    background-color: rgb(0, 0, 0);
}

.topo{
    display: flex;
    padding: 0px 20px;
    display: flex;
    text-align: center;
    background-color: #D9D9D9;
}

.cachecol{
    width: 155px;
    height: 81px;
}

.touca{
    width: 73px;
    height: 72px;
}