body{
    background-color: rgb(0, 0, 0);
}

.topo{
    display: flex;
    padding: 0px 512px;
    text-align: center;
    background-color: #D31B7F;
}

.cachecol{
    width: 131px;
    height: 81px;
    padding: 12px;
}

.touca{
    width: 73px;
    height: 72px;
    padding: 12px;
}

.star{
    display: flex;
}

.text{
    color: white;
}

img,p{
    padding: 10px;
  }