@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


body{
    background-color: rgb(0, 0, 0);
}




.topo{
    display: flex;
    padding: 0px 512px;
    text-align: center;
    background-color: #D31B7F;
}

.cachecol{
    width: 131px;
    height: 81px;
    padding: 12px;
}

.touca{
    width: 73px;
    height: 72px;
    padding: 12px;
}

.star{
    display: flex;

}

.trela{
    width: 2%;
    height: 1%;
    padding: 51px;
}

.text{
    color: white;
}

.pessoas{
    width: 31%;
    position: absolute;
    left: 67%;
}

.fonte{
    font-family: "Germania One", system-ui;
    font-style: normal;
font-size: medium;
}

.calça{
    width: 10%;
    position: absolute;
    left: 10%;
}

@media screen and (min-width: 1024px){
    .topo {
        display: flex;
        padding: 0px 333px;
        text-align: center;
        background-color: #D31B7F
    }
    
}
@media screen and (min-width: 1700px){
    
  }